.formtable {
    width: 100%;
    table-layout: auto;
}

.label {
    width: auto;
    white-space: nowrap;
    padding-right: 1em;
}

.value {
    width: 100%;
}

.lastline button {
    margin-top: 0;
}

.distributed :not(:first-child) {
    margin-left: .3em;
}

.distributed {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
