.text-right {
    float: right;
}

.contentwrapper {
    color: var(--font);
    background-color: var(--bg);
    overflow-y: auto;
    transition: background-color 500ms;
    grid-area: content;
    position: relative;
}

.gridcontainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr auto;
    gap: 0px 0px;
    grid-template-areas:
        "header header"
        "serverinfo content"
        "navbar content"
        "footer footer";
}

.navopen {
    grid-template-areas:
        "header header"
        "serverinfo serverinfo"
        "navbar navbar"
        "footer footer";
}

.full {
    grid-template-areas:
        "header header"
        "content content"
        "footer footer";
}
