#app.darkmode {
    --main-bg-color: #0d1625;
    --sec-bg-color: #4e5358;
    --bg: #1b2330;
    --font: white;
    --console-bg: #2a2f3b;
    --ui-background: #171a1f;
    --ui-hover: #1d2127;
    --ui-disabled: #41404a;
    --ui-border: 1px solid black;
    --bright-hover: #253042;
}

#app.brightmode {
    --main-bg-color: #378af0;
    --sec-bg-color: #d7d7d7;
    --bg: white;
    --font: black;
    --console-bg: white;
    --ui-background: var(--sec-bg-color);
    --ui-hover: #c0c1c3;
    --ui-disabled: #a1a1a1;
    --ui-border: 1px solid black;
    --bright-hover: rgb(209, 209, 209);
}
