.tabs {
    margin-top: .4em;
    display: flex;
}

.tab {
    padding: 12px 10px;
    flex-grow: 1;
    text-align: center;
    user-select: none;
    color: var(--font);
    border-radius: 12px 12px 0 0;
}

.tab:not(:last-child) {
    margin-right: 8px;
}

.tab:hover, .tab.selected {
    background-color: var(--main-bg-color);
}

.tab.selected {
    border: 1px solid var(--font);
    border-bottom: none;
}

.tab:not(.selected) {
    cursor: pointer;
}

.wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.contentwrapper {
    flex-grow: 1;
}

.content {
    top: 0;
    height: 100%;
}
