input[type="text"], input[type="number"] {
    outline: none;
    border: var(--ui-border);
    background-color: var(--ui-background);
    border-radius: 8px;
    display: block;
}

input[type="text"]:hover, input[type="text"]:focus, input[type="number"]:hover, input[type="number"]:focus {
    background-color: var(--ui-hover);
}

input[type="text"]:placeholder-shown {
    color: var(--ui-disabled);
    user-select: none;
}
