#app.darkmode {
    --ui-background: #171a1f;
    --ui-hover: #1d2127;
    --ui-disabled: #41404a;
    --ui-border: 1px solid black;
}

#app.brightmode {
    --ui-background: #9da7b3;
    --ui-hover: #acb5c0;
    --ui-disabled: #41404a;
    --ui-border: 1px solid black;
}

input[type="text"].mcweb-ui, input[type="number"].mcweb-ui {
    outline: none;
    border: var(--ui-border);
    padding: 4px 6px;
    background-color: var(--ui-background);
    color: white;
    border-radius: 8px;
    display: block;
    width: 200px;
}

input[type="text"].mcweb-ui:hover, input[type="text"].mcweb-ui:focus, input[type="number"].mcweb-ui:hover, input[type="number"].mcweb-ui:focus {
    background-color: var(--ui-hover);
}

input[type="text"].mcweb-ui:placeholder-shown {
    color: var(--ui-disabled);
    user-select: none;
}

button.mcweb-ui {
    outline: none;
    border: var(--ui-border);
    padding: 4px 6px;
    background-color: var(--ui-background);
    border-radius: 8px;
    display: block;
    width: 200px;
    color: white;
    user-select: none;
    font-size: inherit;
    cursor: pointer;
    height: 30px;
}

button.mcweb-ui[disabled] {
    color: var(--ui-disabled);
}

button.mcweb-ui:not([disabled]):hover {
    background-color: var(--ui-hover);
}

button.mcweb-ui:not([disabled]):active {
    transform: translateY(1px);
}

.mcweb-ui.select {
    width: 200px;
    border-radius: 8px;
    padding: 4px 6px;
    background-color: var(--ui-background);
    border: var(--ui-border);
    position: relative;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mcweb-ui.select:hover {
    background-color: var(--ui-hover);
}

.mcweb-ui.select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: white;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    right: 11px;
    top: 11px;
    position: absolute;
    pointer-events: none;
}

.mcweb-ui.select select {
    appearance: none;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    color: white;
    width: 100%;
}

.mcweb-ui.select select::-ms-expand {
    display: none;
}

.mcweb-ui.select select option {
    color: black;
}

.mcweb-ui {
    margin-bottom: 4px !important;
    width: 100%;
    padding: 4px 6px;
    height: 20px;
}


.mcweb-ui.copy-field {
    display: inline-block;
    background-color: var(--ui-background);
    border: var(--ui-border);
    width: 200px;
    border-radius: 8px;
    font-family: 'Inconsolata', monospace;
    position: relative;
    height: 18px;
    cursor: text;
}

.mcweb-ui.copy-field button {
    background-color: #171a1f;
    border: none;
    border-radius: 6px;
    text-align: center;
    border: var(--ui-border);
    outline: none;
    transition: background-color 50ms;
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
}

.mcweb-ui.copy-field button:hover {
    transform: translate(0, 1px);
}

.mcweb-ui.copy-field button:active {
    background-color: #252931;
}

.formtable tr td:not(:last-child) {
    padding-right: 14px;
}

.formtable tr:last-child td {
    position: relative;
}

.formtable tr:last-child td * {
    width: 100%;
}

.tabarea-tabs {
    display: flex;
}

.tabarea-tab {
    padding: 12px 10px;
    flex-grow: 1;
    text-align: center;
    user-select: none;
    color: var(--font);
    border-radius: 12px 12px 0 0;
}

.tabarea-tab:not(:last-child) {
    margin-right: 8px;
}

.tabarea-tab:hover, .tabarea-tab.selected {
    background-color: var(--main-bg-color);
}

.tabarea-tab.selected {
    /*box-shadow: 4px 0px 7px 0px black;*/
    border: 1px solid var(--font);
    border-bottom: none;
}

.tabarea-tab:not(.selected) {
    cursor: pointer;
}

.tab-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 72px;
    left: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
}

.tab-content-wrapper {
    flex-grow: 1;
}

.tab-content {
    top: 0;
    height: 100%;
}