.copyfield {
    background-color: var(--ui-background);
    border: var(--ui-border);
    border-radius: 8px;
    font-family: 'Inconsolata', monospace;
    cursor: text;
    font-size: 1.2em;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.copyfield button {
    background-color: #171a1f;
    border: none;
    border-radius: 6px;
    text-align: center;
    border: var(--ui-border);
    outline: none;
    transition: background-color 50ms;
    cursor: pointer;
    height: 100%;
    margin-left: 6px;
}

.copyfield button:hover {
    transform: translate(0, 1px);
}

.copyfield button:active {
    background-color: #252931;
}

.text {
    overflow: hidden;
    user-select: all;
    text-overflow: ellipsis;
}