.options {
    list-style-type: none;
    margin: 0;
    padding: 0;
    bottom: 0;
}

.options li {
    display: block;
    padding: 12px 16px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.options li:hover {
    background-color: var(--main-bg-color);;
}

.logout {
    text-decoration: underline;
    color: blue;
    font-weight: 500;
}

.wrapper {
    grid-area: navbar;
    position: relative;
    background-color: var(--sec-bg-color);
    transition: background-color 500ms;
    overflow: auto;
}